@using Bowler.WEB.Repositories;
@using Bowler.Shared.Entities;
@page "/pagos"

@inject IRepository repository

<h3>PagosIndex</h3>

<div class="mb-3">
    <a class="btn-primary" href="/pagos/create">Nuevo pago</a>
</div>

<GenericList MyList="Pagos">

    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Pago</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var pago in Pagos!)
                {
                    <tr>
                        <td>
                            @pago.Id
                        </td>
                        <td>
                            <a class="btn btn-warning">Editar</a>
                            <button class="btn btn-danger">Borrar</button>
                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </Body>

</GenericList>

@code {
    public List<Pago>? Pagos { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var responseHppt = await repository.Get<List<Pago>>("/api/pagos");
        Pagos = responseHppt.Response!;
    }
}